// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

.center {
  text-align: center;
}

.table>thead>tr>th {
  background-color: grey;
}

.create-note {
  margin: 2rem 0;
  float: left;
}

.single-tag {
  margin-bottom: 2rem;
}

.breadcrumb {
  padding: 8px 15px;
  margin: 10rem 0 2rem;
  background-color: #f5f5f5;
  border-radius: 4px;
}

#more-tags {
  background: darkcyan;
  margin-left: 13px;
}

.navbar {
  color: white;
}

.new_with_pagination{
  float: right;
}
